/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
background-color: #f2f2f2;
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 16px;
color: #555;
line-height: 1.6em;
-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Lato', sans-serif;
font-weight: 300;
color: #444;
}

h1 {
font-size: 40px;
}

h3 {
font-weight: 400;
}

h4 {
font-weight: 400;
font-size: 20px;
}

p {
margin-bottom: 20px;
font-size: 16px;
}


a {
color: #d6ee18;
word-wrap: break-word;
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
color: #b7cb1b;
text-decoration: none;
outline: 0;
}

a:before,
a:after {
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-nav > li > a {
color: #c6d550;
}

.alignleft {
text-align: left;
}
.alignright {
text-align: right;
}

.aligncenter {
text-align: center;
}

.btn-theme  {
color: #fff;
background-color: #fd680e;
border-color: #fd680e;
}
.btn-theme:hover  {
color: #fff;
background-color: #444;
border-color: #444;
}
form.signup {
margin-top: 30px;
}
form.signup button.btn {
text-transform: uppercase;
font-weight: 700;
}
form.signup input.form-control:focus {
border-color: #fd680e;
}


/* Nav */

a.navbar-brand {
color: #fff !important;
font-weight: 900;
text-transform: uppercase;
}
a.navbar-brand:hover {
color: #ddd !important;
}

/* Header */

header {	
background-color: #444;
background: url(../img/main-bg.jpg) no-repeat center top;
margin-top: -20px;
padding-top: 30px;
background-attachment: relative;
background-position: center center;
min-height: 625px;
width: 100%;

-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



header h1 {
margin-top: 150px;
margin-bottom: 15px;
color: #fff;
font-size: 45px;
font-weight: 900;
letter-spacing: -1px;
text-shadow: 0px 0px 10px #000;
}

h2.subtitle {
color: #fff;
font-size: 20px;
}
header h3{
text-align: right;
font-style: italic;
font-size: 21px;
font-family: Copperplate,"Copperplate Gothic Light",fantasy;
text-shadow: 0px 0px 10px #FFF;
}
.wrapper{
margin-top:50px;
}
#membership{
/*background: none repeat scroll 0% 0% rgba(255, 255, 255, 1);*/
padding: 20px;
border-radius:0.3em;
}
#login{
margin:50px;
}
#about_me{
border-bottom:5px solid #DBDBDB;
width:100%;
display: table;
}
#edit{
float:right;
font-size:12px;
}
.about{
display: table-row;
width: 100%;
}
.about_label{
width: 150px;
background: #F8F8F8;
}
.about_label,.about_user{
display: table-cell;
border-bottom:1px solid #DBDBDB;
}
.about_label h4{
font-size:14px;
font-weight: bold;
}
.about_label h4,.about_user{
padding: 0px 10px 0px 10px;
}
#profile_id{
float:left;
width: 250px;
height: 250px;
background-color:slategray;
text-align: center;
border-style: solid;
border-color: #000;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
transition: 0.5s ease;   
border-width:0px;
margin-bottom: 20px;
}
#profile_id:hover{
-webkit-animation: border-width 1s infinite alternate; 
border-width:50px;
}
#profile_id h3{
padding: 40px;
color: #FFF;
font-size: 140px;
}
.row button{
float:right;
}
#posts{

padding: 20px;

}
.show_left{
float:right;

}
.post a{

display: inline-block;
text-align: right;
width: 100%;
}
.post h4{
width: 50px;
height: 50px;
border-radius: 50%;
background: #2C3E50;
float:left;
margin: 0px 10px;
padding: 15px 20px;
color: #FFF;
}
.post p{
border-bottom: 1px solid #CCC;
padding: 10px 20px 50px 50px;
width:100%;
white-space:pre-line;
}
.post span{
color: slategray;
float:right;
}
.dashboard{
float:left;
width: 100%;
margin: 20px 0px;
-webkit-animation: pulse 5s ease infinite;
animation: pulse 5s ease infinite;
}
.dashboard h4{
width: 50px;
height: 50px;
border-radius: 50%;
background: #2C3E50;
margin: 0px 10px;
padding: 15px 20px;
color: #FFF;
}
.dashboard p{
padding: 10px 20px 50px 50px;
width:100%;
white-space:pre-line;
}
.dashboard span{
color: slategray;
float:right;
}
.dashboard:nth-child(odd){
background: rgba(31,142,35, 0.2);
}
.dashboard:hover{
color: #98004a;
}
@-webkit-keyframes pulse {
0% {transform: scale(1);}
50% {transform: scale(1.1);}
100% {transform: scale(1);}
}
@keyframes pulse {
0% {transform: scale(1);}
50% {transform: scale(1.1);}
100% {transform: scale(1);}
}
.clear{
clear:both;
}
footer {
background: #000;
padding: 20px 0 5px;
}

p.copyright {
color: #fff;
text-align: center;
}	